.catalog {
    margin-top: 100px;
    text-align: center;

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
          
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
        padding: 35px;   
        transition: all 0.4s;
        margin-top: 60px;
        margin-bottom: 60px;


        &__product {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #333333;
            margin-top: 25px;
            margin-bottom: 10px;
        }

        &__brand {
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            text-align: center;
            color: #333333;
            margin-bottom: 15px;
        }

        &__price {
            display: flex;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 10px 20px;
            background-color: #333333;
            border: 1px solid #FFFFFF;

        }



        &:hover {
            background-color: rgba(51, 51, 51, .1);
            transition: all 0.4s;
        }

        &__more {
            display: inline-flex;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 15px 35px;
            background-color: #333333;
            border: 1px solid #FFFFFF;

        }



    }

    &__form {
        display: flex;
        justify-content: space-between;

        & select {
            font-family: 'Gilroy';
            border: none;
            border-bottom: 1px solid #D6D6D6;            
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
            padding-bottom: 10px;
            width: 160px;            
        }
    }

    &__skills {
        display: flex;
        margin-top: 150px;

        &__item {
            width: 50%;
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #333333;
            text-align: left;
            

        }

        &__btn {
            display: flex;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #333333;
            border: none;
            background: none;
            border-bottom: 1px dashed #333333;
            cursor: pointer;
            

        }

        &__subitems {
            display: flex;
            flex-wrap: wrap;

            
        }

        &__subitem {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            width: 50%;

            p {
                width: 127px;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #000000;
                margin-top: 15px;
            }
        }
    }
}