.footer {
    margin-top: 80px;

    &__head {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 60px;

        &__items {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 25%;
        }

        &__item {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &__phone {
            padding-left: 40px;
            background-image: url("../images/footer/phone_icon.svg");
            background-repeat: no-repeat;
            background-position-y: center;
        }

        &__email {
            padding-left: 40px;
            background-image: url("../images/footer/email_icon.svg");
            background-repeat: no-repeat;
            background-position-y: center;
        }
    }

    &__social {
        display: flex;
        margin-top: 25px;
        gap: 21px;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #333333;

        &__link {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #333333;           

            &:last-of-type {
                font-weight: 600;
                text-decoration-line: underline;
            }
        }
    }
}

.payment {
    display: flex;
    margin-top: 21px;
    gap: 20px;
}