.mailing {
    background-image: url("../images/salons/bg.png");
    padding-top: 100px;
    padding-bottom: 120px;

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-top: 60px;
    }

    &__item {
        display: flex;

        &:last-child {
            padding: 14px 15px;
            border: 1px solid #FFFFFF;
        }
    }

    &__subiten {
        display: flex;
        padding: 20px 22px;
        background: #FFFFFF;
    }

    &__list {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #FFFFFF;

        li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    &__form {
        background: #FFFFFF;

        & input {
            padding: 15px 9px 14px 20px;
            border: 1px solid #D6D6D6;
            

            &::placeholder {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: rgba(51, 51, 51, 0.5);
            }
            
        }
    }

    &__btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 14px 35px;
        background: #333333;
        border: 1px solid #FFFFFF;
        margin-left: 15px;

    }
}